{% extends "dirs.html" %}

{% block content %}


 <div class="row">
     <div class="col-1" style="padding:0">
        {% if methods %}
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="./method?dataset={{ request.args.get('dataset') }}">View All</a>
            {% for method in methods %}
                {% if method in filter_methods %}
                <a href="#" class="btn-method list-group-item list-group-item-action active" id="{{method}}">{{method}}</a>
                {% else %}
                <a href="#" class="btn-method list-group-item list-group-item-action" id="{{method}}">{{method}}</a>
                {% endif %}
              </li>
            {% endfor %}
              <a class="list-group-item list-group-item-action remember">Remember</a>
            </div>
        {% endif %}
     </div>
     <div class="col-11" style="padding:0">
        {% for image in images %}
        <div  style="display: inline-block;margin: 10px">
            {% for method in filter_methods %}
                 <div class='{{method}}-div' style="display: inline-block;">
                    <img class="shown-img" width='570px' src="{{url_for('static',filename=dataset+'/'+method+'/'+image)}}">
                    <p class='text-center'>{{method}}[{{image|remove_hz}}]</p>
                </div>

            {% endfor %}
        </div>
        {% endfor %}

        
         
     </div>
 </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $(".btn-method").click(function(event) {
            $("#"+event.target.id).toggleClass('active')
            $("."+event.target.id+'-div').toggle()
        });
        var method_str = []
        $('.remember').click(function(){
            var params = new window.URLSearchParams(window.location.search);
            $('.btn-method').each(function(index){
              if($(this).hasClass('active')){
                  method_str.push($(this).text()) 
              }
            });

            var method_stt = "&method="+method_str.join(",")
            var new_href = location.pathname+"?dataset="+params.get('dataset')+
            method_stt+"&page="+params.get('page')
            $(location).attr('href',new_href)
            // window.location.href = window.location.href + method_str
        });

        $('.image-resizer').click(function(event){
            var current_width = parseInt($('.shown-img').css("width"));
            var current_height = parseInt($('.shown-img').css("height"));

            if(event.target.id == "imageSmaller"){
              $('.shown-img').css({"width":current_width-10+"px"})
              $('.shown-img').css({"height":current_height-10+"px"})

            }else if(event.target.id == "imageBigger"){
              $('.shown-img').css({"width":current_width+10+"px"})
              $('.shown-img').css({"height":current_height+10+"px"})

            }else{
              $('.shown-img').css({"width":"300px"})
              $('.shown-img').css({"height":"200px"})
            }
        });

    });
    

</script>
{% endblock %}

